.header {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  :global(.ui.header) {
    margin-bottom: 0 !important;
  }

  .back {
    margin-left: auto !important;
  }
}

.detail {
  white-space: nowrap;
}
