.table {
  margin: 0 !important;
}

.username {
  display: block;
  color: var(--theme-foreground-transparent);
  font-size: 12px;
}

.time {
  white-space: nowrap;
}

@media (max-width: 600px) {
  .time {
    white-space: normal;
  }
}
