.result {
  display: flex;
  align-items: center;

  .name {
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .memberCount {
    margin-left: auto;
    opacity: 0.65;
    white-space: nowrap;
  }
}
