.header {
  display: flex;
  align-items: center;
  margin-bottom: 14px;

  :global(.ui.header) {
    margin-bottom: 0 !important;
  }

  .createContest {
    margin-left: auto !important;
    margin-right: 0 !important;
  }
}

.subtitle {
  max-width: 420px;
  white-space: pre-wrap;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}
